<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user) { %>
        <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." id="post-cont" required></textarea>
                <input type="submit" value="Post">
        </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts) { %>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <div id="friends-container">
            <h4>
                Friends
            </h4>
            <ul>
                <%if(locals.all_friends.length==0){%>
                    <h6>Friends list is empty.</h6>
                <%}%>

                <%for(f of locals.all_friends){%>
                <li>
                    <div>
                        <a href="/users/profile/<%=f.friend_id%>"><%=f.friend_name%></a>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>

        <h4>All Users</h4>
        <% for(u of all_users) {%>
            <p>
                <a href="/users/profile/<%= u.id %>"> <%= u.name %> </a>
            </p>
        <% } %>
    </section>
    <%-include('_chatbox')-%>

</div>

<script src="/js/home_posts_comments.js"></script>
<script src="/js/home_posts.js"></script>

<!-- importing the script file for toggle likes, and running it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

